.exercise-form-container {
    margin-inline: auto;
    margin-bottom: 15px;
    width: 800px;
}

.exercise-form-container .header-form-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.exercise-form-container .form .form-line .icon-section {
    flex: 0 0 80px;
    align-items: end;
}

.exercise-form-container .form .form-line .name-section {
    margin-top: auto;
}
